/* body {
    background-color: red;
} */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black
}
.navlog {
    display: flex;
    align-items: center;
    gap:10px
}
.navlog p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}
.navmenu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
    
}
.navmenu  li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
    

}

.navmenu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background:#ff4141;

}
.navcart {
    display: flex;
    align-items: center;
    gap:45px;
}
.navcart button {
    width: 150px;
    height:50px ;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight:500 ;
    background: white;
    cursor: pointer;
}
.navcart button:active {
    background:#d11222;
    color: white;
}
.navcartcount {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    font-size: 14px;
    background-color: red;
    color: white;
    border-radius: 11px;

}

/* .navmenu li a{
  text-decoration: none;
  color:rgb(23, 84, 92);
}


.active {
  font-weight:lighter;
  color: #e74c3c; 
} */
.navmenu li a{
    text-decoration: none;
    color:rgb(23, 84, 92);
}
/* .navmenu li a {
    color: blue;
    text-decoration: none;
} */
.active {
    font-weight:bolder;
    color: #e74c3c; 
    
}
